<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Corgi Dashboard</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<style type="text/css">
	</style>
</head>
<body>
	<form action="/corgis/edit/<%= corgi._id%>" method="post" class="form-group" style="width: 45%; border: 2px solid black; padding: 2%; margin-top:1%; display: inline-block;">
		<h4>EDIT YOUR CORGI</h4>
		<label for="name">Name</label>
		<input type="text" name="name" class="form-control" value="<%= corgi.name %>">
		<label for="age">Age</label>
		<input type="number" name="age" class="form-control" value="<%= corgi.age %>">
		<label for="color">Color</label>
		<input type="text" name="color" class="form-control" value="<%= corgi.color %>">
		<label for="goodboylevel">Good Boy Level</label>
		<input type="number" name="goodboylevel" class="form-control" value="<%= corgi.goodboylevel %>">
		<input type="submit" name="submit" value="Submit" class="btn btn-danger">
	</form>
</body>
</html>